# ST-Link V2 + STM32F103C8T6
source [find interface/stlink.cfg]
source [find target/stm32f1x.cfg]

# Uncomment if using ST-Link clone (common with Blue Pill):
# set CPUTAPID 0x2ba01477

# Speed up flashing
adapter speed 4000
